<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" th:href="@{/}">Ломбард</a>
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/loan/list}">Займы</a>
                <a class="nav-link" th:href="@{/appraisal_request/list}">Запросы оценки</a>
                <a class="nav-link" th:href="@{/purchase_request/list}">Запросы покупки</a>
                <a class="nav-link" th:href="@{/purchase_offer/list}">Предложения покупки</a>
            </div>
        </div>
    </nav>
</header>